[Unit]
Description=Tic Reader service
After=multi-user.target
#Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/pi/git_repo/PyTicReader
ExecStart=/usr/bin/python /home/pi/git_repo/PyTicReader/tic_reader.py
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target
